.about {
  margin-top: 75px;
  margin-bottom: 60px;

  color: #4F6073;

  img {
    width: 370px;
    height: 100%;
    border-radius: 15px;
  }

  h3 {
    text-transform: uppercase;
    color: #4A90E2;
    font-weight: bolder;
  }


}
