@import "colors";
.banner {
  width: 100%;
  height: 710px;
  background: url("../images/43688.jpg") no-repeat center;
  background-size: cover;
  position: relative;

  .opaque {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .text {
    color: #fff;

    .big-text {
      text-transform: uppercase;
      margin: 0;
      font-weight: bold;
      padding-top: 105px;
      font-size: 100px;
    }
    .dot {
      color: $space-blue;
    }

    .small-text {
      margin-bottom: 3rem;
    }
  }

  .space-button {
    width: 125px;
    height: 50px;
    margin-top: 45px;
    background-color: $space-blue;
    color: #fff;
  }

  .under-list {
    position: absolute;
    color: #fff;
    z-index: 2;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 140px;
    background-color: rgba(0, 0, 0, 0.6);

    padding: 10px;

    .bordered {
      border-left: 1px #fff solid;
    }
  }
}
