@import "colors";
.header {
  height: 95px;
  line-height: 95px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 10000;
  transition: all 0.2s ease-in-out;
  background-color: transparent;

  //mock
  ul {
    list-style: none;
    text-align: right;
  }

  li {
    display: inline-block;
    text-transform: uppercase;
    padding-right: 40px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover, a:focus {
    color: #4A90E2;
    transition: all 0.2s ease-in-out;
  }

  .logo {
    width: 50%;
  }
}
