// bower:scss
@import "bower_components/sass-flex-mixin/_flex.scss";
@import "bower_components/flexboxgrid-sass/flexboxgrid.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
// endbower

//@import "reset";
@import "colors";
@import "header";
@import "banner";
@import "slider";
@import "about";
@import "footer";

body {
  background: #F8F8F8;
  font-family: 'Poppins', sans-serif;
  // font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.active {
  background-color: $space-blue!important;

  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover, a:focus {
    color: rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}
