.slider {
  margin-top: 50px;

  .card {
    width: 370px;
    border: none;
    margin: 0 30px;

    h5 {
      color: #4F6073;
    }

    p {
      color: #C0C3CC;
    }

    img {
      width: 100%;
      height: 202px;
    }
  }

}
